
  .card {
    border-radius: 10px;
    border: none;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    transition: background-color 0.3s;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  .btn-outline-primary, .btn-outline-secondary {
    transition: color 0.3s, border-color 0.3s;
    color: #877171 !important;
  }
  
  .btn-outline-primary:hover {
    background-color: #007bff;
    color: #fff !important;
    border-color: #007bff;
  }
  
  .btn-outline-secondary:hover {
    background-color: #6c757d;
    color: #fff !important;
    border-color: #6c757d;
  }
  
  .form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  