.app-container {
  display: flex;
}

.main-content {
  margin-left: 250px;
  padding: 20px;
  width: 100%;
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .main-content {
    margin-left: 0;
  }
}

.sign{
  color: #2563eb !important;
}
